*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.item a{
    color: #000;
}
.headerlanguage{
    margin: auto;
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row-reverse;
    padding-top: 30px;
}
.headerlanguage .item2 img{
    width: 20px;
    height: 20px;
}
.headerlanguage .item3{
    padding:  0 20px 0 0;
}

.header{
    
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:sticky;
    gap: 44px;
    background-color: #EBF1F8;
    top: 0px;
    left: 0;
    box-shadow: 0 -1px #EBF1F8;
}
.header img{

    margin-right: 30px;
    width: 10%;
    height: 30%;
}
.warp{
    width: 680px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 32px;
}
.header .botton1{
    background-color: blue;
    width: 144px;
    height: 30px;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    padding-top: 8px ;
    border-radius:10px;
}
.main1{
    display: flex;
    width: 1100px;
    margin: auto;

}
.main1 .text{
    width: 50%;
}
.main1 .pic{
    width: 50%;
}
.main1 .pic img{
    width: 80%;
    margin-top: 30px;
    margin-left: 80px;
    border-radius: 50% 50% 0 0 ;
    vertical-align: top;
}
.main1 .text:first-child{
    margin-top: 60px;
}
.main1 p{
    margin-top: 50px;
    margin-right: 20px;
    font-size: 18px;
}